@tailwind base;
@tailwind components;
@tailwind utilities;


#main {
  background-image: url('./assets/bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}

.gif-container {
  background-image: url('./assets/frame1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}